<%-include ../partials/head.ejs%>
    <%-include ../partials/nav.ejs%>
        <div class="container mt-3">
            <h4 class="text-center text-secondary">Bienvenue <%= user %></h4>
                <p class="text-center text-secondary">
                    <br>Présentation de l'app
                    <br>
                </p>
                <img class="img" src="./img/logoUE.png" width="50%"><img class="img" width="7%" src="./img/CD31-logo-rvb.png">
                <ul class="list-unstyled">
                    <li>
                        <img src="https://simplon.co/wp-content/themes/DiviChildV2/images/logo.png" alt=""><h3>SIMPLON.CO</h3>
                    </li>
                    <li>
                        <p>Formations numériques et inclusives</p>
                    </li>
                </ul>
                <div class="">
                    <% atelier.forEach(function(atelier, index){ %>
                        <div class="accordion m-3 shadow-sm" id="accordion<%= index %>">
                            <div class="card border border-green rounded">
                                <div class="card-header bg-transparent" id="headingOne">
                                    <h5 class="mb-0 text-orange"><%= atelier.sommaire %>
                                        <button class="btn btn-link float-right" type="button" data-toggle="collapse" data-target="#collapseOne<%= index %>" aria-expanded="true" aria-controls="collapseOne">
                                            <i class="fas fa-angle-down i-big-green"></i>
                                        </button>
                                    </h5> 
                                    <span class="text-green"><%= atelier.dateStart %></span><span class="text-green"><%= atelier.dateEnd %></span>
                                    <p class="text-green"><%= atelier.location %></p>
                                </div>
                                <div>
                                   
                                </div>
                                <div id="collapseOne<%= index %>" class="collapse" aria-labelledby="headingOne" data-parent="#accordion<%= index %>">
                                    <div class="card-body">
                                        <p class="text-secondary"><%- atelier.description %></p>
                                        <form action="/addAvis" method="post">
                                            <div class="form-group">
                                                <label for="exampleFormControlTextarea1" class="text-secondary">Laisser un avis</label>
                                                <textarea class="form-control" name="Textarea" rows="3"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" name="idAtelier" class="form-control d-none" value="<%- atelier.id %>">
                                            </div>
                                        
                                        <div class="row">
                                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs">
                                            <button type="submit" class="btn btn-outline-success" value="Submit">Envoyer </button>
                                        </div>
                                        </form>
                                        <!-- <input class="btn btn-outline-success bg-green float-right mr-2" type="submit" value="Submit"> -->
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs">
                                        <button class="btn btn-outline-success float-right" type="submit">
                                            <i class="fas fa-hands-helping"></i> Merci</button>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% }) %>    
                </div> 
        </div>
        <%-include ../partials/footer.ejs%>