<%-include ../partials/head.ejs%>
<%- include('../partials/nav', {logged: false}); %>
    <div class="container mt-4">
        <h4 class="text-center text-secondary">Bienvenue</h4>
            <p class="text-center text-secondary">
                <br>Présentation de l'app
                <br>
            </p>
            <img class="img" src="./img/logoUE.png" width="50%"><img class="img" width="7%" src="./img/CD31-logo-rvb.png">
            <ul class="list-unstyled">
                <li>
                    <img src="https://simplon.co/wp-content/themes/DiviChildV2/images/logo.png" alt=""><h3>SIMPLON.CO</h3>
                </li>
                <li>
                    <p>Formations numériques et inclusives</p>
                </li>
            </ul>
        <div class="">
            <h4 class="h4 text-center text-secondary">AGENDA</h4>
            <p class="text-center text-secondary">Se connecter pour voir les ateliers précédents et laisser un commentaire</p>
            <% atelier.forEach(function(atelier, index){ %>
            <div class="accordion m-3 shadow-sm" id="accordion<%= index %>">
                <div class="card border border-green rounded">
                    <div class="card-header bg-transparent" id="headingOne">
                        <h5 class="mb-0 text-orange"><%= atelier.sommaire %></h5> 
                        <span class="text-green"><%= atelier.dateStart %></span>
                        <span class="text-green"><%= atelier.dateEnd %></span>
                        <p class="text-green"><%= atelier.location %></p>
                    </div>
                </div>
            </div>
            <% }) %>    
        </div> 
    </div>
<%-include ../partials/footer.ejs%>