<%-include ../partials/head.ejs%>
    <%-include ../partials/nav.ejs%>
        <div class="container mt-4">
            <h2 class="text-center text-orange m-5">Bienvenue <%= user %></h2>
            
                
                <!-- <img class="img" src="./img/logoUE.png" width="50%"><img class="img" width="7%" src="./img/CD31-logo-rvb.png">
                <ul class="list-unstyled">
                    <li>
                        <img src="https://simplon.co/wp-content/themes/DiviChildV2/images/logo.png" alt=""><h3>SIMPLON.CO</h3>
                    </li>
                    <li>
                        <p>Formations numériques et inclusives</p>
                    </li>
                </ul> -->
                <div class=" rounded-xl border border-green .d-none .d-sm-block">
                    <% atelier.forEach(function(atelier, index){ %>
                        <div class="accordion m-3 mt-5 mb-5 shadow" id="accordion<%= index %>">
                            <div class="card border border-orange rounded">
                                <div class="card-header bg-transparent" id="headingOne">
                                    <h3 class="mb-0 text-orange"><%= atelier.sommaire %>
                                        <button class="btn btn-link float-right" type="button" data-toggle="collapse" data-target="#collapseOne<%= index %>" aria-expanded="true" aria-controls="collapseOne">
                                            <i class="fas fa-chevron-circle-down i-big-orange "></i>
                                        </button>
                                    </h3> 
                                    <span class="text-blue"><%= atelier.dateStart %></span><span class="text-blue"><%= atelier.dateEnd %></span>
                                    <p class="text-green mb-1"><%= atelier.location %></p>
                                    <% if (atelier.reserverOk){ %>
                                    <form id="reservation" action="/reserver" method="post" class="group-form mt-1">                  
                                        <button type="submit" class="btn btn-sm btn-outline-info form-group" name="<%= atelier.sommaire %> : <%= atelier.dateStart %>">Reserver
                                        </button>
                                    </form>
                                <% } %>
                                </div>
                                <div>
                                   
                                </div>
                                <div id="collapseOne<%= index %>" class="collapse rounded-xl" aria-labelledby="headingOne" data-parent="#accordion<%= index %>">
                                    <div class="card-body">
                                        <p class="text-secondary"><%- atelier.description %></p>
                                        <h4 class="text-center text-orange">AVIS</h4>
                                        <hr class="bg-orange">
                                        <div class="panel-body">
                                        <ul class="list-unstyled">
                                        <% avis.forEach(function(avis, index){ %>
                                            <% if (avis.Agenda_idAgenda == atelier.id) { %> 
                                            <li class="">
                                                <div class="d-block">
                                                    <span class="d-block">
                                                        <% ava.forEach(function(ava, index){ %>
                                                            <% if (avis.User_idUser == ava.idUser) { %>
                                                                <img src="img/avatar<%= ava.avatar %>.png"" alt="User Avatar" class="float-left" width="48px">
                                                            <% } %>
                                                        <% }) %>
                                                        <div class="header">
                                                            <strong class="primary-font ml-1"> <%= avis.username %> </strong> <small>
                                                            <span class="glyphicon glyphicon-time float-right"> <%= avis.date %> </span></small>
                                                        </div>
                                                        
                                                    </span><br>
                                                </div>
                                                <div class="d-block">
                                                    <p class="text-align-lef">
                                                        <%= avis.msg %>
                                                    </p>
                                                    <% merci.forEach(function(merci, index){ %>
                                                        <% if (avis.User_idUser == merci.User_idUser) { %>
                                                            <form action="/merci" method="post" class="group-form m-2">
                                                            
                                                            <button type="submit" class="btn btn-sm btn-outline-info float-right form-group" name="ID" value="<%= avis.User_idUser %>"><i class="fas fa-hands-helping"></i>  Merci
                                                                <span class="badge badge-info"><%= merci.merci %></span>
                                                            </button>
                                                        </form>
                                                        <% } %>
                                                    <% }) %>
                                                    <br>
                                                    <hr class="bg-orange">
                                                </div>
                                            </li>
                                            <% } %>
                                        <% }) %>
                                        </ul>
                                        </div>
                                        <form id="avis" action="/addAvis" method="post">
                                            <div class="form-group">
                                                <label for="exampleFormControlTextarea1" class="text-secondary">Laisser un avis</label>
                                                <textarea class="form-control" name="Textarea" rows="3" required></textarea>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" name="idAtelier" class="form-control d-none" value="<%- atelier.id %>">
                                            </div>
                                        
                                        <div class="row">
                                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs">
                                            <button name="Submit" type="submit" class="btn btn-outline-info" value="Submit">Envoyer </button>
                                        </div>
                                        </form>
                                        <!-- <input class="btn btn-outline-success bg-green float-right mr-2" type="submit" value="Submit"> -->
                                        <!-- <div class="col-lg-6 col-md-6 col-sm-6 col-xs">
                                        <button class="btn btn-outline-success float-right" type="submit">
                                            <i class="fas fa-hands-helping"></i> Merci</button>
                                        </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% }) %>    
                </div> 
        </div>
        <%-include ../partials/social.ejs%>
<%-include ../partials/footer.ejs%>