<%-include ../partials/head.ejs%>
<%- include('../partials/nav', {logged: false}); %>
    <div class="container mt-4 pb-5">
            
                <img class="img-fluid w-25 mt-1 mx-auto d-block" src="./img/logoUEHG.png">
                

                <h1 class="text-orange text-center">Bienvenue sur Coop'Café</h1> 
    </div>    <!--caroussel-->
                <div class="container-fluid p-0">
                <div id="carouselExampleControls"  class="carousel slide" data-ride="carousel">
                          
                    <div class="carousel-inner">
                            
                        <div class="carousel-item carousel-bg-transparent active">                    
                            <img class="mx-auto d-block w-100 img-fluid" src="img/6027.png" alt="First slide">
                            <div class="carousel-caption d-none d-md-block img-fluid">
                                
                            </div>
                        </div>

                        <div class="carousel-item carousel-bg-transparent">
                            <img class="mx-auto d-block w-80 img-fluid" src="img/6030.png" alt="Second slide">
                        </div>

                        <div class="carousel-item carousel-bg-transparent">
                            <img class="mx-auto d-block w-80 img-fluid" src="img/6045.png" alt="Third slide">
                        </div>

                        <div class="carousel-item carousel-bg-transparent">
                            <img class="mx-auto d-block w-80 img-fluid" src="img/6049.png" alt="Third slide">
                        </div>

                        <div class="carousel-item carousel-bg-transparent">
                            <img class="mx-auto d-block w-80 img-fluid" src="img/6056.png" alt="Third slide">
                        </div>

                        <div class="carousel-item carousel-bg-transparent">
                            <img class="mx-auto d-block w-60 img-fluid" src="img/5340.png" alt="Third slide">
                        </div>
                    </div>

                    <!-- <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a> -->
                </div>
            </div>
            <div class="container mt-4 pb-5">
                <!-- </div>
            </div> -->
            <p class="text-left text-secondary"><br>
                Coop’Café, c’est l’appli du Repar Café de la Maison de l’Avenir Comminges Pyrénées, pour poursuivre plus loin l’expérience de ces ateliers d’échanges de savoir-faire !<br><br>
                Le Répar Café est un panel d’ateliers d’échanges de savoir-faire, animés par des bénévoles passionnés. Les ateliers permettent à ceux qui le souhaitent de transmettre un talent, une passion, des astuces, dans un cadre convivial ! Au Repar Café, les savoirs circulent, s’échangent et se mélangent, en sortant du schéma sachant/apprenant. Tout le monde peut animer, il suffit d’avoir l’envie et la MDA propose des outils pour structurer sa séance !<br><br>
                Le Répar Café, c’est aussi une philosophie : réparer pour ne plus jeter, consommer autrement, lutter contre l’obsolescence programmée en apprenant à faire soi-même !<br><br>
                Ces ateliers sont aussi des espaces de rencontres et d’échanges, pour créer du lien, encourager les synergies, soutenir l’émergence de projets communs.<br><br>
                Coop Café, c’est un outil permettant de faire vivre la communauté Repar Café, en s’inscrivant aux ateliers, en proposant ses talents, en poursuivant les échanges entamés pendant les ateliers… C’est aussi l’occasion de distribuer les « Mercis » aux animateurs, animatrices et usagers, qui part leur enthousiasme, leur bonne humeur et leur savoir-faire font vivre le Repar Café, jour après jour !<br>
            </p>
            <ul class="list-unstyled text-center">
                <br>
                <li>
                    <p class="text-secondary">Projet réalisé par les apprenants Simplon de la promotion 2 de Saint-Gaudens</p>
                </li>
                <li>
                    <a href="https://simplon.co/" target="_blank" id="logo"><img src="https://simplon.co/wp-content/themes/DiviChildV2/images/logo.png" ><h3>SIMPLON.CO</a>

                </li>
                <li>
                    <p>Formations numériques et inclusives</p>
                </li>
            </ul>
            <br>
            <hr class="bg-orange">
            <br>
        <div class="">
            <h3 class="text-center text-orange">AGENDA</h3>
            <p class="text-center text-secondary">Se connecter pour voir les ateliers précédents et laisser un commentaire</p>
            <% atelier.forEach(function(atelier, index){ %>
            <div class="accordion m-3 shadow-sm" id="accordion<%= index %>">
                <div class="card border border-green rounded">
                    <div class="card-header bg-transparent" id="headingOne">
                        <h3 class="mb-0 text-orange"><%= atelier.sommaire %></h3> 
                        <span class="text-blue"><%= atelier.dateStart %></span>
                        <span class="text-blue"><%= atelier.dateEnd %></span>
                        <p class="text-green"><%= atelier.location %></p>
                    </div>
                </div>
            </div>
            <% }) %>    
        </div>
        <br>
        <hr class="bg-orange">
        <br>
        <h3 class="text-center text-orange mt-4">Créer un compte et :</h3>
        <ul class="list-group list-group-flush">
            <li class="list-group-item text-secondary ">Consulter l'agenda des ateliers passés et futur</li>
            <li class="list-group-item text-secondary">S'inscrire aux ateliers d'un simple clic <button class="btn btn-outline-success">
                <!-- <i class="fas fa-hands-helping"></i> -->
                 Reserver</button></li>
            <li class="list-group-item border-0 text-secondary">Laisser des commentaires aux ateliers</li>
            <li class="list-group-item text-secondary">Remercier les personnes rencontrés lors des ateliers d'un simple clic <button class="btn btn-outline-success">
                <i class="fas fa-hands-helping"></i> Merci</button></li>
            <li class="list-group-item text-secondary">Contacter les autres utilisateurs de Coop'Café</li>
            <li class="list-group-item text-secondary">Consulter une carte affichant les lieux des différents ateliers</li>
            <li class="list-group-item text-secondary">Personnaliser votre avatar en gagnant des merci<br> 
                <img src="img/avatar62.png"" alt="User Avatar" class="" width="64px" />
                <img src="img/avatar78.png"" alt="User Avatar" class="" width="64px" />
                <img src="img/avatar5.png"" alt="User Avatar" class="" width="64px" />
                <img src="img/avatar69.png"" alt="User Avatar" class="" width="64px" />
                <img src="img/avatar52.png"" alt="User Avatar" class="" width="64px" />
                <img src="img/avatar14.png"" alt="User Avatar" class="" width="64px" /><br>
                128 avatars a gagner !!
            </li>
          </ul>
    </div>
<%-include ../partials/footer.ejs%>