<%-include ../partials/head.ejs%>
<%- include('../partials/nav', {logged: false}); %>
    <div class="container mt-4">
        <h4 class="text-center text-secondary">Bienvenue</h4>
            <p class="text-left text-secondary">
                <br>La démarche de Coop'café propose des ateliers thématiques d'échange de savoirs faire qui repose sur l'implication de chacun et de créer du lien social.
                Il s'agit d'un concept unique : des ateliers solidaires sont proposés pour consommer autrement et faire soi même.
                C'est une équipe de bénévoles passionnés qui aident à réparer les objets (brico vélo, brico ordi et brico vêtements), proposent des ateliers de cuisine et de jardinage (cocagne Alim'Terre), échangent leurs compétences et leurs savoirs faire;
                Vous pouvez aussi créer et apprendre d'autres astuces avec les ateliers DIY (faîtes le vous même).
                L'action repose sur plusieurs notions que sont la réparation, l'échange mais aussi prendre le temps de discuter.
                Ainsi vous venez avec votre objet à réparer, vous êtes acteur de sa réparation de plus, cela contribue à protéger la planète et vous aurez appris quelque chose.
                Cela touche toutes les générations alors lancez-vous!
                Vous avez un talent? 
                Venez le partager en animant votre propre atelier!
                <br>
            </p>
            <img class="img" src="./img/logoUE.png" width="50%"><img class="img" width="7%" src="./img/CD31-logo-rvb.png">
            <ul class="list-unstyled">
                <li>
                    <img src="https://simplon.co/wp-content/themes/DiviChildV2/images/logo.png" alt=""><h3>SIMPLON.CO</h3>
                </li>
                <li>
                    <p>Formations numériques et inclusives</p>
                </li>
            </ul>
        <div class="">
            <h4 class="h4 text-center text-secondary">AGENDA</h4>
            <p class="text-center text-secondary">Se connecter pour voir les ateliers précédents et laisser un commentaire</p>
            <% atelier.forEach(function(atelier, index){ %>
            <div class="accordion m-3 shadow-sm" id="accordion<%= index %>">
                <div class="card border border-green rounded">
                    <div class="card-header bg-transparent" id="headingOne">
                        <h5 class="mb-0 text-orange"><%= atelier.sommaire %></h5> 
                        <span class="text-green"><%= atelier.dateStart %></span>
                        <span class="text-green"><%= atelier.dateEnd %></span>
                        <p class="text-green"><%= atelier.location %></p>
                    </div>
                </div>
            </div>
            <% }) %>    
        </div> 
    </div>
<%-include ../partials/footer.ejs%>