<%-include ../partials/head.ejs%>
    <%-include ../partials/nav.ejs%>

    <!-- variables pour la liste des avatars-->
    <% var avatars = [];
    var avaMax = Math.floor(merci.merci/5)+3;
        for (var i = 2; i < avaMax; i++){
            avatars.push(`img/avatar${i}.png`);
        };
    %>
    
    
        <!--Container Row-->
        <div class="container">
            <h3 class="text-center text-orange mt-5 mb-3" for="exampleFormControlSelect1">Choisir un usager pour voir son profil</h3>
                <form action="/listeProfil" method="post" class="group-form" id="listProfil">
                        <div class="row">
                                
                          <div class="col-3 offset-3">
                                
                                <select name="profil" class="form-control border-orange float-right" id="exampleFormControlSelect1">
                                <option value="" selected disabled hidden>Choisir un usager</option>
                                <% utilisateurs.forEach(function(utilisateurs, index){ %>
                                  <option value="<%= utilisateurs.idUser %>"><%= utilisateurs.pseudo %></option>
                                <% }) %>
                                </select>
                          </div>
                          <div class="col-3"> 
                                <button type="submit" class="btn btn-outline-info form-control" value="Submit2">Voir le Profil</button>
                          </div>
                        </div>
                </form>
            <div class="row">
                <!--Carousel Wrapper-->
                <div class="col-md-6 sm-12">
                    <div class="container mt-5 mb-3 p-3 rounded-xl border border-green">
                        <h3 class="text-blue text-center mb-4">Avatar de l'usager</h3>

                        <!--Slides-->
                        <div id="carouselExampleControls"data-interval="false" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="mx-auto d-block w-60 " src="/img/avatar<%= user.avatar %>.png" alt="First slide">
                                </div>
                                   
                                </div>
                                
                                <!-- <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a> -->
                            </div>
                            
                            <!--Nombre Merci-->
                            <div class="mt-5">
                            <% if(user != "none"){ %>
                            <form action="/merci" method="post" class="group-form m-2 text-center" id="btnMerci">
                                                            
                                <button type="submit" class="btn btn-lg btn-outline-info form-group text-blue mx-auto" name="ID" value="<%= user.idUser %>"><i class="fas fa-hands-helping"></i>  Merci
                                    <span class="badge badge-info"><%= merci.merci %></span>
                                </button>
                            </form>
                        <% } %>
                            </div>
                        </div>
                        
                

                <!--Contactez-moi (commenté par phil, a mettre uniquement dans profil public-->

                    <!-- <form action="/contactezMoi" method="post" class="group-form m-2">
                        <button type="submit" class="btn btn-sm btn-outline-info float-left form-group"> Contactez-moi !

                        </button>
                    
                    </form> -->
                </div>
                <!--End Carousel Wrapper-->

                <!-- Infos profil -->
                <div class="col-md-6 sm-12">


                    <div class="container mt-5 mb-5 p-3 border border-green col rounded-xl">
                        <h3 class="text-blue text-center">Informations de l'usager</h3>

                        <form action="" method="" class="m2" id="noform">
                            <div class="form-group">
                                <label class="text-blue">Nom d'utilisateur:</label>
                                <input type="text" name="username" class="form-control border-orange" value="<%= user.pseudo %>">
                            </div>
                            <div class="form-group">
                                <label class="text-blue">Adresse Email:</label>
                                <input type="email" name="usermail" class="form-control border-orange" value="<%= user.mail %>" >
                            </div>
                            <div class="form-group">
                                <label class="text-blue">Téléphone:</label>
                                <input type="tel" name="usertel" class="form-control border-orange" value="<%= user.tel %>" >
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label class="text-blue">Code postal:</label>
                                    <input type="text" name="zip" class="form-control border-orange" value="<%= user.codePostal %>" >
                                </div>
                                <div class="form-group col-md-8">
                                    <label class="text-blue">Commune:</label>
                                    <input type="text" name="city" class="form-control border-orange" value="<%= user.commune %>" >
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="text-blue">Atelier préféré:</label>
                                <input type="atelier" name="atelierPref" class="form-control border-orange" value="<%= user.Ateliers_idAtelier %>" >
                            </div>
                            <div class="form-group">
                                <label class="text-blue">Interets Divers:</label>
                                <input type="text" name="interest" class="form-control border-orange" value="<%= user.InteretsDivers %>">
                            </div>

                        </form>
                    </div>
                </div>
                <!--End Infos profil-->

            </div>
        </div>
        <!--End Container Row-->

        








        <%-include ../partials/footer.ejs%>
        <script>
                $( document ).ready(function() {
                    console.log("test doc")
                    $('#carouselExampleControls').on('slide.bs.carousel', function (av) {
                    //console.log("test", av.to+1);
                $('#choixAvatar').val(av.to+1);
                //console.log($('#choixAvatar').val());
              })
                })
        </script>