<%-include ../partials/head.ejs%>
    <%-include ../partials/nav.ejs%>

        <!--Container Row-->
        <div class="container">
            <div class="row">

                <!--Carousel Wrapper-->
                <div class="col-md-6 sm-12">
                    <div class="container bg-transparent mt-5 mb-5 p-2 border border-green col rounded">

                        <div id="multi-item-example" class="carousel slide carousel-multi-item" data-interval="false">

                            <!--Slides-->
                            <div class="carousel-inner" role="listbox">

                                <!--Start First slide-->
                                <div class="carousel-item active">
                                    <div class="col-md-4">
                                        <div class="card mb-2 border-0" style="width:80%">

                                            <div class="controls-top">
                                                <!--Chevron Left-->
                                                <a class="btn-floating" href="#multi-item-example" data-slide="prev">
                                                    <i class="fa fa-chevron-left"></i>
                                                </a>

                                                <ol class="carousel-indicators">
                                                    <li data-target="#multi-item-example" data-slide-to="1" class="active"></li>
                                                </ol>

                                                <!--Chevron Right-->
                                                <a class="btn-floating" href="#multi-item-example" data-slide="next">
                                                    <i class="fa fa-chevron-right"></i>
                                                </a>

                                                <img class="card-img-top img-fluid rounded mx-auto d-block" src="img/avatar1.png" style="width:70%" alt="Card avatar 1">
                                                <div class="card-body">
                                                    <a class="btn btn-outline-success text-success">OK</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--End First slide-->


                                <!--Start Second slide-->
                                <div class="carousel-item">
                                    <div class="col-md-4">
                                        <div class="card mb-2 border-0" style="width:80%">

                                            <div class="controls-top">
                                                <!--Chevron Left-->
                                                <a class="btn-floating" href="#multi-item-example" data-slide="prev">
                                                    <i class="fa fa-chevron-left"></i>
                                                </a>

                                                <ol class="carousel-indicators">
                                                    <li data-target="#multi-item-example" data-slide-to="1" class="active"></li>
                                                </ol>

                                                <!--Chevron Right-->
                                                <a class="btn-floating" href="#multi-item-example" data-slide="next">
                                                    <i class="fa fa-chevron-right"></i>
                                                </a>

                                                <img class="card-img-top img-fluid rounded mx-auto d-block" src="img/avatar2.png" style="width:70%" alt="Card avatar 2">
                                                <div class="card-body">
                                                    <a class="btn btn-outline-success text-success">OK</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--End Second slide-->

                            </div>
                            <!--End Slides-->

                        </div>
                    </div>
                    <!--End container avatar-->

                    <!--Nombre Merci-->
                    <div class="form-group">
                        <button type="button" class="btn btn-outline-success float"><i class="fas fa-hands-helping"></i>  Merci
                            <span class="badge badge-light">      14</span>
                        </button>
                    </div>


                </div>
                <!--End Carousel Wrapper-->




                <!-- Infos profil -->
                <div class="col-md-6 sm-12 ">


                    <div class="container bg-transparent mt-5 mb-5 p-2 border border-green col rounded">
                        <h4 class="text-center mt-2">Information</h4>

                        <form action="" method="" class="m2">
                            <div class="form-group">
                                <label>Nom d'utilisateur:</label>
                                <input type="text" name="username" class="form-control" value="<%= utilisateurs.pseudo %>" required>
                            </div>
                            <div class="form-group">
                                <label>Adresse Email:</label>
                                <input type="email" name="usermail" class="form-control" value="<%= utilisateurs.mail %>" required>
                            </div>
                            <div class="form-group">
                                <label>Téléphone:</label>
                                <input type="tel" name="usertel" class="form-control" value="<%= utilisateurs.tel %>" required>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label>Code postal:</label>
                                    <input type="text" name="zip" class="form-control" value="<%= utilisateurs.codePostal %>" required>
                                </div>
                                <div class="form-group col-md-8">
                                    <label>Commune:</label>
                                    <input type="text" name="city" class="form-control" value="<%= utilisateurs.commune %>" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Atelier préféré:</label>
                                <input type="atelier" name="atelierPref" class="form-control" value="<%= utilisateurs.Ateliers_idAtelier %>" required>
                            </div>
                            <div class="form-group">
                                <label>Interets Divers:</label>
                                <input type="text" name="interest" class="form-control" value="<%= utilisateurs.InteretsDivers %>" required>
                            </div>

                        </form>
                    </div>
                </div>
                <!--End Infos profil-->

            </div>
        </div>
        <!--End Container Row-->









        <%-include ../partials/footer.ejs%>